<mat-dialog-content>
<mat-form-field>
    <mat-label>
        Choose Category
    </mat-label>
    <mat-select>
        <mat-option *ngFor="let category of categories"  class ="game-card" [value]="category">
            {{category.name}}
        </mat-option>
    </mat-select>
</mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button (click)="play()">play</button>
    <button mat-raised-button (click)="close()">close</button>
</mat-dialog-actions>


<!-- <button>play</button> -->




