/* 
body {
  font-family: 'Comic Sans MS', cursive, sans-serif; 
  background-color: #F5F5F5; 
  margin: 0;
  padding: 0;
}

.game-card {
  background: linear-gradient(135deg, #FFDD57 0%, #FF5555 100%);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.game-card h2 {
  color: #FFFFFF;
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Comic Sans MS', cursive, sans-serif; 
}

.game-card p {
  color: #FFFFFF;
  font-size: 18px; 
}

@media (max-width: 600px) {
  .game-card {
      margin: 10px;
      padding: 10px;
  }

  .game-card h2 {
      font-size: 20px;
      font-family: 'Comic Sans MS', cursive, sans-serif; 
  }

  .game-card p {
      font-size: 16px;
      font-family: 'Comic Sans MS', cursive, sans-serif; 
  }
} */
.card-container {
  border: 2px rgb(245, 245, 245);
  border-radius: 12px;
  padding: 16px;
  margin: 8px;
  background-color: #ffebee;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-container:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Darker shadow on hover */
}

.card-container mat-card-header {
  /* background-color: #FF5722; */
  color: rgb(255, 0, 0);
  padding: 8px;
}

.card-container mat-card-title a {
  color: rgb(243, 21, 21);
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
}

.card-container mat-card-content {
  color: rgb(255, 102, 0);
  font-size: 1.1em;
}
