<div class="dashboard-container">
  <div class="dashboard-card">
    <h3>Points</h3>
    <p>{{ totalPoints }}</p>
  </div>
  <div class="dashboard-card">
    <h3>Games Played</h3>
    <p>{{ totalGames }}</p>
  </div>
  <div class="dashboard-card">
    <h3>Highest Score Game</h3>
    <p>{{ highestScoreGameType }}</p>
  </div>
  <div class="dashboard-card">
    <h3>Lowest Score Game</h3>
    <p>{{ lowestScoreGameType }}</p>
  </div>
  <div class="dashboard-card">
    <h3>Learned Categories</h3>
    <p>{{ learnedCategoriesCount }}</p>
  </div>
  <div class="dashboard-card">
    <h3>Not Learned Categories</h3>
    <p>{{ notLearnedCategoriesCount }}</p>
  </div>
  <div class="dashboard-card">
    <h3>Perfect Games Percentage</h3>
    <p>{{ perfectGamesPercentage }}%</p>
  </div>
  <div class="dashboard-card">
    <h3>Most Played Category</h3>
    <p>{{ mostPlayedCategory }}</p>
  </div>
  <div class="dashboard-card">
    <h3>Learned Categories Percentage</h3>
    <p>{{ learnedCategoriesPercentage }}%</p>
  </div>
</div>